<section class="error-view">
  <section class="error-container">
    <h1><%= title %></h1>
    <p><%= message %></p>
    <a href="/" class="error-home-link">← Back to Home</a>
  </section>
</section>
